:root {
  --max-width: 1280px;
}


.analytics-header {
  margin-top: var(--page-margin);
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);

  width: 100%;
  max-width: var(--max-width);

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.analytics-controls-wrapper {
  width: 100%;
  height: 64px;

  display: flex;

  border-bottom: 1px solid var(--border-base);
}

.analytics-controls {
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);

  width: 100%;
  max-width: var(--max-width);

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.analytics-tabs {
  display: flex;
  gap: 24px;
}


.analytics-tabs button {
  padding: 16px 0px;

  height: auto;
  position: relative;

  color: var(--foreground-muted);
  font-size: 14px;
  font-weight: 500;

  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

.analytics-tabs button:hover {
  background-color: transparent;
  color: var(--foreground);
}

.analytics-tabs button.-active {
  color: var(--foreground);
  border-bottom-color: var(--foreground);
}

.date-selector {

  height: 100%;

  display: flex;
  align-items: center;

  gap: 8px;

  background-color: transparent;

  cursor: pointer;
  user-select: none;

  font-size: 14px;
  color: var(--foreground);
}

.date-selector span:first-child {
  color: var(--foreground-muted);
  font-size: 12px;
}

.date-selector span:last-of-type {
  font-weight: 500;
}

.date-selector svg {
  width: 16px;
  height: 16px;
  stroke: var(--foreground);
}

.data-content-wrapper {
  margin-top: var(--page-margin);
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);

  width: 100%;
  max-width: var(--max-width);

  display: flex;
  align-items: start;
  gap: 24px;
}

.metrics-container {
  margin-top: 24px;

  display: flex;
  flex-direction: column;

  flex: 1;
}

.view-heading {
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 2rem;

  text-align: center;
}

.metrics-content-wrapper {
  margin-top: 12px;
  width: 100%;

  display: flex;
  flex-direction: column;

  border-radius: 12px;
  border: 1px solid var(--border-base-light);
}


.metrics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.metric-card {
  padding: 20px;


  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;

  border-left: 1px solid var(--border-base);
  background-color: var(--background-base-dark);
}

.metric-card.-first {
  border-top-left-radius: 12px;
  border-left-width: 0px;
  background-color: var(--background-base);
}

.metric-card.-last {
  border-top-right-radius: 12px;
}



.metric-label {
  font-size: 14px;
  color: var(--foreground-muted);
  font-weight: 400;
}

.metric-value {
  font-size: 24px;
  color: var(--foreground);
  font-weight: 400;
}

.chart-container {
  padding: 16px;
}

.chart-wrapper {
  margin-bottom: 24px;
  width: 100%;
  height: 200px;
}


.realtime-panel {
  padding: 16px;

  width: 275px;

  border: 1px solid var(--border-base-light);
  border-radius: 12px;
}

.realtime-header h4 {
  font-size: 16px;
  font-weight: 500;
}

.live-indicator {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.live-indicator .indicator {
  font-size: 16px;
  color: var(--primary);

}

.live-indicator p {
  font-size: 12px;
}


.realtime-subscribers,
.realtime-views {
  margin-top: 16px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.realtime-subscribers .metric-value,
.realtime-views .metric-value {
  font-size: 12px;
}

.divider {
  margin-top: 12px;

  display: block;
  width: 100%;

  border-bottom: 1px solid var(--border-base);
}
