@import "header.css";
@import "analytics.css";

:root {
  --page-margin: 24px;
}

.layout {
  height: 100dvh;

  display: flex;
  flex-direction: column;

  position: relative;
}

.page-content-wrapper {
  flex: 1;
  display: flex;

  background-color: var(--background-base);
}

.side-menu-wrapper {
  width: 260px;
  height: 100%;

  border-right: 1px solid var(--border-base);
}

.main-page {
  width: 100%;

}
